@import "../less/colors.less";
@import "../less/fonts.less";
@import "../less/variables.less";

.container {
  width: 100%;
  margin-top: @blockSpacing;
}

.header {
  color: white;
  font-weight: 400;
  letter-spacing: 6px;
  text-align: center;
  margin-bottom: 3rem;
}

.faqList {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.faq {
  display: flex;
  min-height: 80px;
  color: white;
  letter-spacing: 1px;
  font-weight: 200;
  font-size: 0.8rem;
  word-break: break-word;
  hyphens: auto;
}

.questionContainer,
.answer {
  display: flex;
  width: 20rem;
}

.questionContainer {
  justify-content: flex-end;
}

.questionContainer::after {
  width: 2px;
  background-color: #ffbc6b;
  height: 100%;
  content: "";
  display: inline-block;
  margin-left: 20px;
}

.faq:last-child .questionContainer::after {
  height: 150px;
}

.question {
  width: 100%;
  text-align: right;
}

.answer {
  margin-left: 20px;
}

.contactInformation {
  text-align: center;
  color: #ffbc6b;
}

@media all and (min-width: 400px) {
  .faq {
    height: 70px;
    min-height: auto;
  }

  .questionContainer,
  .answer {
    align-items: center;
  }
}

@media all and (min-width: 700px) {
  .faqList {
    margin-bottom: 7rem;
  }

  .faq {
    height: 50px;
    letter-spacing: 4px;
  }

  .faq:last-child .questionContainer::after {
    height: 150px;
  }

  .questionContainer,
  .answer {
    width: 100%;
  }
}
