@import "../less/colors.less";
@import "../less/fonts.less";
@import "../less/variables.less";

.container {
  width: 100%;
  height: 10rem;
  background-color: green;

  margin-top: @blockSpacing;
}
